@import "tailwindcss";

/* From Uiverse.io by mrhyddenn */
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: rgb(50, 50, 50);
}
.spinner {
  width: 2em;
  height: 2em;
  cursor: not-allowed;
  border-radius: 50%;
  border: 2px solid #444;
  box-shadow: -10px -10px 10px #242150, 0px -10px 10px 0px #9c32e2,
    10px -10px 10px #32151f, 10px 0 10px #610808, 10px 10px 10px 0px#662403,
    0 10px 10px 0px #3a2201, -10px 10px 10px 0px #644904;
  animation: rot55 0.7s linear infinite;
}

.spinnerin {
  border: 2px solid #444;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rot55 {
  to {
    transform: rotate(360deg);
  }
}
